html
html
   head
      title Form Tester
   body
      include ./header.pug

      form(action = "/create_topic", method = "POST")
         div
            label(for = "topic") Create a new topic:
            input(name = "topic" value = "")
         br
       
         br
         button(type = "submit") Create Topic