doctype html
html
   head
      title  "AWSome Government"
   body
      h1.greetings#message AWSsome Government

      a(href = "/send_message") Send Message
      br
      br
      a(href = "/create_topic") Create Topic

      br
      br
      a(href = "/subscribe") Subscribe
      


