html
html
   head
      title AWSome Government
   body
      include ./header.pug
      form(action = "/send_message", method = "POST")
         div
            label(for = "message") Message:
            input(name = "message" value = "Emergency! Message")
         br
       
         br
         button(type = "submit") Send Message