html
html
   head
      title Form Tester
   body
      form(action = "/subscribe", method = "POST")
         div
            label(for = "email") Enter Email address:
            input(name = "email" value = "")
         br
       
         br
         button(type = "submit") Subscribe